@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400;0,500;1,400&family=Roboto:ital,wght@0,300;0,400;0,500;1,300&display=swap');


html, body{
 margin:0px;
 font-family:'Roboto', sans-serif;
}

/*------------------------------->Nav bar */
.navbar{
  background-color: #1F2324;
}

.navbar-brand {
  color:#F6F6F6;
  font-size: 25px;
  left:5px;
  font-family:'Roboto', sans-serif;
  }
.navbar-brand:hover{
  color:#F6F6F6 !important;
}
/* Change the color of nav text by using !important, answer found on StackOverflow, user: dynamiclynk (https://stackoverflow.com/questions/24420080/change-navbar-text-color-bootstrap) */
.navbar-nav li a{
  font-size: 25px;
  color:#F6F6F6!important;
}
.nav-item a:hover {
  background-color: #33472B;
  color: #F6F6F6!important;
}
.navbar-brand i{
  transform: rotate(30deg); 
  background-color: #33472B;
  font-size:35px;
  margin-right: 10px;
  margin-left:5px;
  
}

  /*-------------------------------------------> Jumbotrons */ 
  .jumbotron {
    background-color: transparent;
  }

.jumbotron .jumbotron-headings{
  font-family:'EB Garamond', serif;
  font-style: italic;
  font-weight:500;
  font-size:40px;
  color: #1F2324;
}
.jumbotron-sub-heading{
  font-family:'EB Garamond', serif;
  font-style: italic;
  font-weight:400;
  font-size:40px;
  color: #1F2324;
}
/*------------------------------------------------------> Sections */
.section-heading{
  font-family:'Roboto', sans-serif;
  font-weight:400;
  font-size:40px;
}
.section-sub-heading{
  font-family:'EB Garamond', serif;
  font-style: italic;
  font-weight:500;
  font-size:30px;
}
.section-content{
  font-family:'Roboto', sans-serif;
  font-weight: 400;
  font-size:18px;
}

.section-booking-page{
  margin-top: 5%;
}
  
.main-section-about{
  background-color: #F6F6F6;
}  
.massage-benefits-section {
  background-color: #33472B;
}
.massage-benefits-content p{
  background-color: #F6F6F6;
}

/*-------------------------------------------> Footer */


#table{
  color:#F6F6F6;
}

.contact-info-container{
  text-decoration: none ;
}

.footer-area ul li a:link{
    color: #F6F6F6;
    text-decoration: none;
}
 
.footer-area ul li i{
  margin-right: 10px;
  

}
/* Social media item copied and then modified from: https://bbbootstrap.com/snippets/bootstrap-social-media-icons-hover-effect-29974962 */
.footer-area{
  background-color: #1F2324;
  font-size: 16px;
  color: #F6F6F6;
  min-height: 120px;
} 
.footer-area ul{
list-style-type: none;

}
.footer-headings{
  font-family:'Roboto', sans-serif;
  font-size: 19px;;
}
.footer-copyright a:link, 
.footer-copyright a:visited {
    color: #F6F6F6;
    text-decoration: none;
}

.footer-area .list-inline .list-inline-item a{
  border-color:#272222;
  font-size: 20px;
  text-align: center;
}
.footer-area .list-inline .list-inline-item a i{
  margin-left:10px;
  font-size: 20px;
  color:#F6F6F6;
  transition: 0.6s all;
}
.list-inline-item i:hover {
  transform: scale(1.4);
}

/*---------------------------------------> Facilities Page */

 .facility-info h2 {
  text-align: center;
  font-weight: 400;
  margin: 0.7em 0;

}

.facilities-services-section .font-icons{
  font-size:40px;
  margin-bottom: 1rem;
  color: #33472B;
  line-height: 1.6;
  
}
.card-button{
  background-color: #33472B !important;
  color: #F6F6F6 !important;
  border-color:  #33472B;
  text-decoration: none;}
  


.facilities-timetable-class-row {
background-color:  #33472B;
    border: 3px solid #F6F6F6;
    color: #F6F6F6;
    text-align: center;
    padding: 15px;
    margin-left: 15px;
    margin-right: 15px;
}

.facilities-timetable #navTab a:hover,
.facilities-timetable #navTab a:active,
.facilities-timetable #navTab a:focus,
.facilities-timetable #navTab a:active:focus {
    color:#080808;
    text-decoration: none;
    background-color:#FAFAFA;
}
.nav-tabs .nav-link {
  background-color: #3A462C;
  margin: 4px;
  color:#FAFAFA;
}
.card-text{
  font-family:'Roboto', sans-serif;
  font-weight: 400;
  font-size:18px;

}
.services-info {
  flex-grow: 1;
  font-family:'Roboto', sans-serif;
  font-weight: 400;
  font-size:18px;
}
.card-container {
  display:flex;
  flex-direction:column;
}
.card-container h5 {
  font-family:'Roboto', sans-serif;
  font-size:25px;
  font-weight:500;
 
}

/*------------------------------------------------>Banner-Images-Containers */
.hero-container{
  height: 80vh;
  display:flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

 .banner-facial-massage{
   background:url("images/facial-treatment02.png") fixed center center no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

 }
 .banner-bamboo-massage{
  background:url("images/massage-treatment-02.jpeg") fixed center center no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
 }
 .banner-sauna{
  background:url("images/sauna-banner-image.jpg") fixed center center no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
 }

.banner-facilities-page {
  background:url("images/facilities-hero-image.jpg") fixed center center no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
 
}
.banner-home-page {
  background:url("images/spapicture.jpeg") fixed center center no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
 
}
.banner-services-page{
  background:url("images/services-image.jpg") fixed center center no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

}

.banner-contact-page{
  background:url("images/contact-hero-image.jpg") fixed center center no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.banner-body-treatment{
  background:url("images/massage-treatment-01.jpeg") fixed center center no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

}
.facilities-massage-banner{
  background:url("images/facilities-massage-image.jpeg") fixed center center no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

}
.hero-images-headings{
  color:#F6F6F6;
  font-weight: bold;
}


/*------------------------------------------------>Font Awesome & Badges */
.fa-clock{
  font-size:20px;
  color: #33472B;
  margin: 20px 5px;
}
.fa-tag{
  font-size:20px;
  color:  #33472B;
  margin-left:10px;
  margin-right:5px;
}
.badge-treatment{
  margin-left:20px;
}
.badge-sales{
  margin-left:15px;
  font-size: 13px;

}
.strike-through{
  color:rgb(133, 130, 130);
  margin-right:10px;
  font-size:15px;
}

/* -----------------------------------------Contact form */
.contact-details span i {
  font-size: 20px;
  margin-right: 20px;
  padding:10px;
  background:  #33472B;
  border-radius: 50%;
}
.contact-details p{
  font-family:'Roboto', sans-serif;
  font-weight: 400;
  font-size:18px;

}
.contact-details .font-icon{
  color: #F6F6F6;
}
.contact-details span i:hover {
  font-size:30px;
}
.btn-contact{
  background-color:  #33472B !important;
  border-color: #33472B;
}



.card-title{
  font-family:'Roboto', sans-serif;
  font-size:23px;
  font-weight:500;
  color:#1F2324;
}

.benefits-heading{
  font-family:'Oswald', sans-serif;
  font-weight: 300;
  font-size:40px;
  color:#F6F6F6;
}

.video-container{
  display:flex;
  justify-content:center;
  align-items: center;
  margin-top: -120px;
  
}

@media only screen and (max-width: 600px) {
  .list-inline {
    margin-left:10px;
  }
}

@media only screen and (max-width:600px) {
  .services-headings {
    margin-top:50%;
    padding:10px;
  }
}
@media only screen and (min-width:750px) and (max-width: 1100px) {
  .img-thumbnail {
   margin-top:150px;
    
  }
}
@media only screen and (min-width:750px) and (max-width: 1100px) {
  .video-container {
   
    
  }
}

@media only screen and (min-width:900px) and (max-width: 100px) {
  .google-maps {
   width: 400px;
    
  }
}
@media only screen and (min-width:900px) and (max-width: 1100px) {
  .footer-area .list-inline,.footer-headings-follow-us {
   display:none;
    
  }
}
@media only screen and (max-width:500px) {
  .table-footer {
    text-align: center; 
  }
}
