@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400;1,600;1,700&family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');


body {
  background-color: #FAFAFA;
  font-size:
  font-family:'Roboto', sans-serif;
}
.navbar{
    font-size: 1.55rem;
    width: 100%;
}

.section-heading{
  font-family: 'Dancing Script', cursive;

}



.heading-welcome-text{
  margin-top: 30%;
  font-family: 'Dancing Script', cursive;
  font-size:30px;
  letter-spacing:2px;
  }
  
  btn{
    margin-left: 20%;
  }
  .page-section-about{
    margin-bottom:10px;
  }
  .page-section-review{
    margin-bottom: 10%;
  }

.spa-costumer-review {
    font-size: 1.1em;
    font-weight: 400;
    font-family: "Roboto", sans-serif;
    color: black;
}

.spa-costumer-image {
    object-fit: cover;
    
}

.carousel-inner .row {
    margin: 0 -80px;
    background-colo:#FAFAFA ;
}

.carousel-control-prev,
.carousel-control-next {
    width: 25%;
}
.footer-area{
    color: #FAFAFA;
    min-height: 120px;
} 
.footer-area ul{
  list-style-type: none;
}

.social-links{
  

}
#table{
  color:white;
}

.contact-details-container{
  text-decoration: none ;
}

.footer-area ul li a:link{
    color: #D3D3D3;
    text-decoration: none;
}
 
.footer-area ul li i{
  margin-right: 10px;
}



.facility-image img {
  position: relative;
  width: 100%;
  height: auto;
  justify-content: center;
  border-radius: 0.25rem;
}

 .facility-info h2 {
  text-align: center;
  font-weight: 400;
  margin: 0.7em 0;
}


.banner-image-facilities-container {
  background:url("/assets/images/spa-oilis-image.jpg") fixed center no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
 
}
.banner-hero-image-container {
  background:url("/assets/images/spapicture.jpg") fixed center no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: 50% 150%;
}
.banner-image-container {
  height: 60vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.banner-image-contact-container{
  background:url("/assets/images/contact-hero-image.jpg") fixed center no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: 50% 150%;
}

}