@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Oswald&display=swap');

body{
  font-family: 'Lato', sans-serif;
  font-weight: 300;
}

/*------------------------------->Nav bar */
.navbar-brand {
  position:relative;
  font-weight: 500;
  font-size: 2rem;
  left: 15px;
  font-family:"Oswald", sans-serif;
}
.logo-icon{
  transform: rotate(30deg); 
  background-color: rgba(214, 240, 154, 0.808);
  margin-right: 15px;
  
}
/* Change the color of nav text by using !important, answer found on StackOverflow, user: dynamiclynk (https://stackoverflow.com/questions/24420080/change-navbar-text-color-bootstrap) */
 .navbar-nav li a{
   font-size: 25px;
   color:#FAFAFA!important;
   

 }
  /*-------------------------------------------> Jumbotrons */ 
  .jumbotron {
    background-color: transparent;
  }
 .jumbotron .jumbotron-main-headings{
  font-family:'Oswald', sans-serif;
  font-weight: 400;
  font-size:40px;
  
}
.section-heading,.section-sub-heading{
  font-family:'Oswald', sans-serif;
  font-weight: 400;
  font-size:40px;

}
.jumbotron .jumbotron-headings{
  font-family:'Oswald', sans-serif;
  font-weight: 400 bold;
  font-size:40px;
  color: black;

}
/*------------------------------------------------------> Sections */


  
  btn{
    margin-left: 20%;
  }
  
  .page-section-review{
    margin-bottom: 10%;
  }

.spa-costumer-review {
    font-size: 1.1em;
    font-weight: 400;
    font-family: "Roboto", sans-serif;
    color: black;
}

.spa-costumer-image {
    object-fit: cover;
    border-radius: 50%;
    
}

.carousel-inner .row {
    margin: 0 -80px;
    background-color:#FAFAFA ;
}

.carousel-control-prev,
.carousel-control-next {
    width: 25%;
} 
/*-------------------------------------------> Footer */
.footer-area{
    color: #FAFAFA;
    min-height: 120px;
} 
.footer-area ul{
  list-style-type: none;
}

#table{
  color:white;
}

.contact-details-container{
  text-decoration: none ;
}

.footer-area ul li a:link{
    color: #D3D3D3;
    text-decoration: none;
}
 
.footer-area ul li i{
  margin-right: 10px;
  

}
/* Social media item copied and then modified from: https://bbbootstrap.com/snippets/bootstrap-social-media-icons-hover-effect-29974962 */
.footer-area .list-inline .list-inline-item a{
  border-color:rgb(39, 34, 34);
  font-size: 20px;
}
.footer-area .list-inline .list-inline-item a i{
  margin-left:10px;
  font-size: 20px;
  color:#FAFAFA;
  transition: 0.4s all;
}
.list-inline-item i:hover {
  transform: scale(1.4);
}

}

/*---------------------------------------> Facilities Page */

.facility-image img {
  position: relative;
  width: 100%;
  height: auto;
  justify-content: center;
  border-radius: 0.25rem;
}

 .facility-info h2 {
  text-align: center;
  font-weight: 400;
  margin: 0.7em 0;
}

.facilities-services-section .font-icons{
  font-size:40px;
  margin-bottom: 1rem;
  color:#3A462C;
  line-height: 1.6;
  
}
.avaliability-button{
  background-color:#3A462C;
  
}
.avaliability-info a{
color: #FAFAFA !important;
  text-decoration: none;
}
.timetable-class-row{
background-color: #D3D3D3;
    border: 3px solid #FAFAFA;
    color: #141313;
    text-align: center;
    border-radius: .5rem;
    padding: 15px;
    margin-left: 15px;
    margin-right: 15px;
}



/*------------------------------------------------>Containers */
.hero-image-container{
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;

}


.banner-image-facilities-container {
  background:url("images/facilities-hero-image.jpg") fixed center no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
 
}
.hero-home-image-container {
  background:url("images/spapicture.jpg") fixed center no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.banner-image-container {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.banner-image-contact-container{
  background:url("images/contact-hero-image.jpg") fixed center no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: 0px -160px;
}

.hero-images-headings{
  color:#FAFAFA;
  font-weight: bold;
}

.opaque-overlay {
  position: absolute;
  left: 0;
  height: 100%;
  width: 100%;
  background-color:rgba(0, 0, 0, 0.5);
}

/* -----------------------------------------Contact form */
.contact-details span i {
  font-size: 20px;
  margin-right: 10px;
  padding:10px;
  background: #b5b5b8;
  border-radius: 50%;
}
.contact-details span i:hover {
  font-size:30px;
}

.services-facilities-container{
  display: flex;
  flex-direction: column;
}
.services-info {
  flex-grow: 1;
}

.card-container {
  display: flex;
  flex-direction: column;
}
.facilities-timetable #navTab a:hover,
.facilities-timetable #navTab a:active,
.facilities-timetable #navTab a:focus,
.facilities-timetable #navTab a:active:focus {
    color: #FAFAFA;
    text-decoration: none;
    background-color:#3A462C;
}
.nav-tabs .nav-link {
  background-color: #D3D3D3;
  margin: 4px;
  color:#0f0f0f;
}

.masage-benefits-container {
  background-color: #3A462C;;
  box-shadow: black;
}
.massage-benefits-content p{
  margin-left: 50px;
  margin-right: 50px;
  background-color: #FAFAFA;
}
.benefits-heading{
  font-family:'Oswald', sans-serif;
  font-weight: 400;
  font-size:40px;
  color:#FAFAFA;
}